body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('../resources/back.jpg');
    background-size: cover;

  }
  
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: darkgray;
    color: white;
  }
  
  #title {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding-left: 20px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
  }
  .title {
    text-align: center;
    color: white;
    padding-top: 100px;
  }
  #uppers {
    position: relative;
    bottom: 1px;
  }

.info {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: gray;
  border-radius: 20px;
  padding: 20px;
}


#songIdInput{
  border-radius: 10px;
  position: relative;
  top: 20px;
}

#enterbtn{
  border-radius: 5px;
}

/*load bar*/
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loader {
  width: 50px;
  height: 50px;
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #3498db; /* Blue */
  border-radius: 50%;
  animation: spin 1s linear infinite;
  display: none; /* Hide loader by default */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.bar {
  width: 100%;
  height: 100%;
  background-color: #3498db;
}

#loading-text {
  margin-top: 10px;
  display: none; /* Hide text by default */
}

button {
  margin-top: 20px;
}